Source: bl-sigproc
Section: science
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>=9), dh-autoreconf, zlib1g-dev, csh, libcfitsio-dev,
 libfftw3-dev, gfortran, libgsl-dev, pgplot5
Standards-Version: 3.9.8
Homepage: https://github.com/UCBerkeleySETI/bl_sigproc

Package: bl-sigproc
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, csh
Description: Breakthrough Listen fork of SigProc tools
 SIGPROC is a pulsar search processing software
