#!/usr/bin/make -f

%:
	dh $@ --with autoreconf 

override_dh_auto_install:
	dh_auto_install
	mv debian/bl-sigproc/usr/bin/downsample debian/bl-sigproc/usr/bin/bl-downsample

#override_dh_install:
#	dh_install --list-missing -X.la -X.pyc -X.pyo
