#!/usr/bin/make -f

%:
	dh $@ --with autoreconf 

override_dh_auto_install:
	dh_auto_install
	mv debian/bl-sigproc/usr/bin/downsample debian/bl-sigproc/usr/bin/bl-downsample
	mv debian/bl-sigproc/usr/bin/fold debian/bl-sigproc/usr/bin/bl-fold
	mv debian/bl-sigproc/usr/bin/quicklook debian/bl-sigproc/usr/bin/bl-quicklook
